<!DOCTYPE html>
{% include analytics.html %}
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/research">Research</a></li>
				<li><a href="/basketball">NCAAB</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
			  <li>
			    <a href="mailto:erikrforseth@gmail.com">
			      <img src="/images/gmail.png" alt="EMail" style="width:42px;height:42px;" border="0"></a>
			  </li>
			  <li>
			    <a href="https://plus.google.com/100896623552020765703/posts">
			      <img src="/images/google-plus.png" alt="Google+" style="width:42px;height:42px;" border="0"></a>
			  </li>
			  <li>
			    <a href="http://www.linkedin.com/pub/erik-forseth/108/278/143">
			      <img src="/images/linkedin-logo.png" alt="LinkedIn" style="width:42px;height:42px;" border="0"></a>
			  </li>
			  <li>
			    <a href="http://github.com/erikrforseth">
			      <img src="/images/GitHub-Mark-120px-plus.png" alt="GitHub" style="width:42px;height:42px;" border="0"></a>
			  </li>
			  <li>
			    <a href="http://instagram.com/erikrforseth">
			      <img src="/images/IGicon.png" alt="Instagram" style="width:42px;height:42px;" border="0"></a>
			  </li>
			</ul>
			</footer>
		</body>
	</html>
