<!DOCTYPE html>
{% include analytics.html %}
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
			  <li>
			    <a href="http://www.linkedin.com/pub/erik-forseth/108/278/143">
			      <img src="/images/linkedin-logo.png" alt="LinkedIn" style="width:42px;height:42px;" border="0"></a>
			  </li>
			</ul>
			</footer>
		</body>
	</html>
